/* The grid: Four equal columns that floats next to each other */
.col-img {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.col-img img {
  opacity: 0.8;
  cursor: pointer;
}

.col-img img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
