{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/main_page.css">

	<title>9ard3n</title>
</head>
<body>
	<div class="center_welcome_text">
		<h2 class="welcome_text">Welcome to the official 9ard3n website!</h2>
	</div>
	<div class="center_button">
		<button id ="products_button" type="button" class="btn">Products</button>
	</div>
  <div class="center_button">
  	<button id ="gotopreorder_button" type="button" class="btn">Go to preorder</button>
  </div>
	<div class="center_button">
  	<button id ="register_button" type="button" class="btn">Register</button>
  </div>
	<div class="center_button">
  	<button id ="login_button" type="button" class="btn">Login</button>
  </div>



	<script type="text/javascript">
			document.getElementById("gotopreorder_button").onclick = function () {
				location.href = "preorder";
			};

			document.getElementById("register_button").onclick = function () {
				location.href = "register";
			};

			document.getElementById("login_button").onclick = function () {
				location.href = "login";
			};

			document.getElementById("products_button").onclick = function () {
				location.href = "products";
			};
	</script>
</body>
</html>
{% endif %}
{% endblock %}
